
header{
  background: #000;
  box-sizing: content-box;
  height: 75px;
  border-bottom: 3px solid #000;
  width: 100%;
  text-align: center;
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
.header__nav{
  display: flex;
  justify-content: space-around;
}
.header__nav-link{
  margin: 0 6px;
  font-size: 28px;
  background: #fcd92d;
  /* color: rgb(84, 84, 84); */
  color: #1c1b18;
  padding: 10px 20px;
  border-radius: 15px;
}